<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit tmp="PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiIHN0YW5kYWxvbmU9InllcyI/Pjx0ZXN0c3VpdGVzPjx0ZXN0c3VpdGUgbmFtZT0iQXBwbGljYXRpb24gVGVzdCBTdWl0ZSI+PGRpcmVjdG9yeT4uL2FwcC90ZXN0cy88L2RpcmVjdG9yeT48L3Rlc3RzdWl0ZT48L3Rlc3RzdWl0ZXM+" backupGlobals="false" backupStaticAttributes="false" bootstrap="bootstrap/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" syntaxCheck="false"/>
